.form {
  margin-left: 30px;
}
.searchInput {
  font-family: "Kanit";
  position: relative;
  margin-left: 0px;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 50px;
  transition: 1s;
  border-radius: 10px;
}

.container:hover {
  background-color: rgb(233, 231, 225);
  transition: opacity 5s ease, border-color s ease;
}

.book {
  font-family: "Kanit";
  font-weight: lighter;
}
.edit-button {
  background-color: rgb(244, 242, 238);
  width: 50px;
  height: 100%;
  font-family: "Kanit";
  border-radius: 5px;
  border: 0.5px solid white;
  margin-left: 0;
}
.searchInput {
  margin: 20px;
}
