* {
  margin: 0;
  padding: 0;
}
.grid-element{
  width: 200px;
  height: 300px;
  position: relative;
  background-color: #ff7878;
}


.grid{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);

}
.disappear {
  transition: width 100ms ease-in, heigt 100ms ease-in, font-size 100ms ease-in;
}

.fill-form {
  display: grid;
  margin-top: 5%;
  grid-template-rows: repeat(5, 1fr);
  margin-left: 40%;
  position: absolute;
  height: 500px;
  width: 350px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;

}


.header {
  max-width: 100%;
  height: 100px;
  text-align: center;
}
#header-text {
  font-family: 'bebas neue', sans-serif;
  font-size: 45px;
  font-weight: bolder;
  position: relative;
  margin-left: auto;
  color: black;

}
.body {
  background-color: #f3f0d7;
  max-width: 100%;
  height: 960px;
  background-image: linear-gradient(to  bottom right, #f3f0d7 , #cee5d0)
}
#close-btn {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: none;
  font-family: "Kanit";
  border: 0px;
  margin-left: 95%;
  transition: 1s;
  background: none;
  font-weight: bolder;
}
.add-btn {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #ff7878;
  border: 0px;
  font-size: 25px;
  position: absolute;
  margin-left: 95%;
  margin-top: 40%;
  transition: 0.7;
  -webkit-transition: .7s;
  -moz-transition:.7s;
  -ms-transition: .7s;
  -o-transition: .7s;
  -webkit-transform: rotate(deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.add-btn:hover{
  transition: .7s;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
  -webkit-transform: rotate(deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.add-btn:focus {
  
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #ff7878;
  border: 0px;
  font-size: 25px;
  position: absolute;
}


#close-btn:hover {
  background-color: #ff7878;
  transition: 1s;
  
}

.form {
  margin-top: 5px;
  font-family: 'bebas neue';
  position: relative;
  width: 20rem;
}
.submit {
  border-radius: 6px;
  font-family: 'bebas neue';
  position: relative;
  font-weight: bolder;
  width: 20rem;
  height: 70px;
  margin-left: 13px;
  margin-top: 70px;
  margin-bottom: 20px;
  border: none;
  background-color:#cee5d0;
  font-size: 25px;
}
.submit:hover {
  background-color:#c0e1c3;
  transition: 1s;
}

.new-book {
  font-family: 'bebas neue';
  font-size: 35px;
  font-weight: bolder;
  position: absolute;
  text-align: center;
  margin-top: 10px;
  margin-left: 130px;
}
.form__input {
  transition: 1s;
  margin-left: 12px;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: .5px solid #c5c4c4;
  font-family: inherit;
  font-size: inherit;
  align-self: center;
  color: black;
  background-color: white;
  outline: none;
  height: 50px;
  font-size: 20px;
}

.form__input:hover {
  border-color: #b6d5b9;
  transition: 1s;
}
.form__input:focus {
  border-color: #cee5d0;
  transition: 1s;
}

.form__label {
  position: absolute;
  color: rgb(151, 151, 151);
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  cursor: text;
  transition: top 100ms ease-in, left 100ms ease-in, font-size 100ms ease-in;
}

.form__input:focus ~ .form__label,
.form__input:not(placeholder-shown) .form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 1.2rem;
  background-color: white;
  border-radius: 5px;
}
