* {
  margin: 0;
  padding: 0;
}

.disappear {
  transition: width 100ms ease-in, heigt 100ms ease-in, font-size 100ms ease-in;
}

.fill-form {
  display: grid;
  margin-top: 5%;
  grid-template-rows: repeat(5, 2fr);
  margin-left: 40%;
  position: absolute;
  height: 500px;
  width: 350px;
  background-color: #cee5d0;
  border-radius: 20px;
  padding: 10px;

}

.fill-form:hover {
  border-color: yellow;
}

.header {
  max-width: 100%;
  height: 100px;
  background-color: #cee5d0;
  text-align: center;
}
#header-text {
  font-family: "Kanit";
  font-size: 35px;
  font-weight: bolder;
  position: absolute;
  margin-left: 43%;
  margin-top: 25px;
}
.body {
  background-color: #f3f0d7;
  max-width: 100%;
  height: 960px;
}
#close-btn {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: none;
  font-family: "Kanit";
  border: 0px;
  margin-left: 95%;
  transition: 1s;
  background: none;
  font-weight: bolder;
}
.add-btn {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background-color: #ff7878;
  border: 0px;
  font-size: 25px;
  position: absolute;
  margin-left: 95%;
  margin-top: 40%;
}
#close-btn:hover {
  background-color: #ff7878;
  transition: 1s;
}

.form {
  margin-top: 5px;
  font-family: "Kanit";
  position: relative;
  width: 20rem;
}
.submit {
  border-radius: 6px;
  font-family: "Kanit";
  position: relative;
  font-weight: bolder;
  width: 20rem;
  height: 70px;
  margin-left: 13px;
  margin-top: 70px;
  margin-bottom: 20px;
  border: none;
  background-color: #ff7878;
  font-size: 20px;
}
.submit:hover {
  background-color: #ffa7a7;
  transition: 1s;
}

.new-book {
  font-family: "Kanit";
  font-size: 35px;
  font-weight: bolder;
  position: absolute;
  text-align: center;
  margin-top: 10px;
  margin-left: 95px;
}
.form__input {
  transition: 1s;
  margin-left: 12px;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid #4b4b4b;
  font-family: inherit;
  font-size: inherit;
  align-self: center;
  color: black;
  background-color: white;
  outline: none;
  height: 50px;
  font-size: 20px;
}

.form__input:hover {
  border-color: #ffc4c4;
  transition: 1s;
}
.form__input:focus {
  border-color: #ff7878;
  transition: 1s;
}

.form__label {
  position: absolute;
  color: black;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  cursor: text;
  transition: top 100ms ease-in, left 100ms ease-in, font-size 100ms ease-in;
}

.form__input:focus ~ .form__label,
.form__input:not(placeholder-shown) .form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 1.2rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ff7878;
}
