* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #e5dcc3, white);
}
.board {
  margin-top: 100px;
  max-width: 90%;
  height: 100vh;
  display: grid;
  grid-gap: 40px;
}

section {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 250px;
  height: 300px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  justify-content: left;
  align-items: center;
  padding: 20px;
  grid-gap: 20px;
  font-family: "Courier New", Courier, monospace;
  background-color: yellow;
}

.form {
  position: absolute;
  width: 350px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.add-button {
  position: absolute;
  margin-top: 30%;
  margin-left: 80%;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  border: none;
  background-color: blue;
  font-size: 30px;
}
