* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pageHead {
  background-color: #cee5d0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
}
p {
  font-size: 40px;
  font-family: "Bebas Neue";
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   background-image: linear-gradient(to right, #cee5d0, #f3f0d7); 
  /* // background-color : #f3f0d7;  */
}
.board {
  margin-top: 100px;
  max-width: 90%;
  max-height: 70vh;
  display: grid;
  grid-gap: 40px;
}

section {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 250px;
  height: 300px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  justify-content: left;
  align-items: center;
  padding: 20px;
  grid-gap: 20px;
  font-family: "Bebas Neue";
  background-color: white;
  justify-content: center;
}

.form {
  display: grid;
  position: fixed;
  grid-template-rows: repeat(7, 1fr);
  width: 350px;
  height: 400px;
  grid-gap: 25px;
  background-color: white;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  visibility: hidden;
}

.add-btn {
  position: fixed;
  margin-top: 40%;
  margin-left: 80%;
  border-radius: 50%;
  height: 55px;
  font-family: "Bebas Neue";
  width: 55px;
  border: none;
  background-color: #ff7878;
  font-size: 30px;
}
.sumbit-btn {
  width: 300px;
  height: 50px;
  background-color: #d7e9f7;
  position: relative;
  border: none;
  border-radius: 7px;
  font-size: 25px;
  font-family: "Bebas Neue";
}
.close-btn {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-left: 90%;
  margin-top: 5%;
  margin-bottom: 5px;
  position: relative;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: none;
  background-color: #f4d19b;
  font-size: 20px;
}

.form__input-group {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  margin-bottom: 0;
}

.form__input {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  transition: border 0.25s ease-in-out;
  border: 0.5px solid grey;
  width: 300px;
  height: 40px;
  font-size: 17px;
}
.form__input:focus {
  outline: none;
  border: 2px solid lighten(#000, 75%);
}

.form__input-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.25s ease-in-out;
  font-family: "Bebas Neue";

  font-weight: bolder;
  color: rgb(215, 215, 215);
}

.form__input:focus ~ .form__input-label {
  top: 0;
  background-color: white;
  font-size: 14px;
  padding: 0 10px;
}
.form__input:not(:placeholder-shown) ~ .form__input-label {
  top: 0;
  background-color: white;
  font-size: 14px;
  padding: 0 10px;
}
