* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 60%;
  position: absolute;
  font-size: 40px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #e5dcc3, white);
}
.board {
  margin-top: 100px;
  max-width: 90%;
  height: 100vh;
  display: grid;
  grid-gap: 40px;
}

section {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 250px;
  height: 300px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  justify-content: left;
  align-items: center;
  padding: 20px;
  grid-gap: 20px;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(198, 198, 198);
}

.form {
  display: grid;
  position: fixed;
  grid-template-rows: repeat(7, 1fr);
  width: 350px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.add-btn {
  position: fixed;
  margin-top: 30%;
  margin-left: 80%;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  border: none;
  background-color: blue;
  font-size: 30px;
}
.sumbit-btn {
  width: 300px;
  height: 50px;
  background-color: rgb(167, 167, 167);
  position: relative;
  margin-bottom: 5px;
  border:none;
  border-radius: 7px;
  font-size: 25px;

}
.close-btn {
  display: grid;
  justify-content: center;
  margin-left: 90%;
  margin-top: 0%;
  margin-bottom: 5px;
  position: relative;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: none;
  background-color: rgb(77, 77, 165);
  font-size: 20px;
}

.form__button {
  border: 2px solid darken(#86ac41, 5%);
  display: block;
  padding: 7px 25px;
  background-color: #86ac41;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border 0.25s ease-in-out;
}
.form__button :hover {
  color: #86ac41;
  background-color: transparent;
  border: 2px solid #86ac41;
}

.form__input-group {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  margin-bottom: 0;
}

.form__input {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  transition: border 0.25s ease-in-out;
  border: 0.5px solid grey;
  width: 300px;
  height: 40px;
  font-size: 17px;
}
.form__input:focus {
  outline: none;
  border: 2px solid lighten(#000, 75%);
}

.form__input-label {
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.25s ease-in-out;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: rgb(186, 186, 186);
}

.form__input:focus ~ .form__input-label {
  top: 0;
  background-color: white;
  font-size: 14px;
  padding: 0 10px;
}
.form__input:not(:placeholder-shown) ~ .form__input-label {
  top: 0;
  background-color: white;
  font-size: 14px;
  padding: 0 10px;
}
