@import url("https://fonts.googleapis.com/css?family=Space+Mono");

* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  margin-top: 10%;
  width: 100%;
  max-height: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.calculator {
  margin: auto;
  margin-top: auto;
  position: relative;
  max-width: 320px;
  background: rgb(255, 255, 255);
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-numbers {
  font-family: "Space Mono", serif;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 1.5em;
  padding: 0.1em;
  text-align: right;
  width: 100%;
  height: 100px;
  border: 1px solid white;
}

.span-2 {
  border: 1px solid white;
  grid-column: span 2;
  transition: 1s;
}

.btn {
  border: 1px solid white;

  font-size: 1em;
  height: 65px;
}
.btn- {
  border: 1px solid white;

  transition: 1s;
  font-size: 1em;
  height: 65px;
}

.btn:hover {
  border: 1px solid grey;
  background: rgb(221, 221, 221);
  transition: 1s;
}
.btn-:hover {
  border: 1px solid grey;

  background: rgb(221, 221, 221);
  transition: 1s;
}

.span-3 {
  grid-column: span 3;
}

.btn-blue-operator:hover {
  border: 1px solid grey;
  background-color: aquamarine;

  transition: 1s;
}
.btn-blue-operator {
  transition: 1s;

  border: 1px solid white;
}
.equal-op {
  border: 1px solid white;
}
.equal-op:hover {
  border: 1px solid grey;
  background-color: aquamarine;
  transition: 1s;
}
