@import url("https://fonts.googleapis.com/css?family=Space+Mono");

* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  margin-top: 10%;
  width: 100%;
  max-height: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.calculator {
  margin: auto;
  margin-top: auto;
  position: relative;
  max-width: 320px;
  background: rgb(255, 255, 255);
  border: 1px solid black;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 0;
}

.calculator-numbers {
  font-family: "Space Mono", serif;
  background: rgb(247, 247, 247);
  color: white;
  font-size: 2em;
  border: 0;
  padding: 0.3em;
  text-align: right;
  width: 100%;
  height: 100px;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}
.btn {
  font-size: 1em;
  height: 65px;
  border: 1px solid rgb(230, 230, 230);
}
.btn- {
  font-size: 1em;
  height: 65px;
  border: 1px solid rgb(255, 255, 255);
}
.btn:hover {
  background: #fff;
}
.blue {
  background-color: rgba(30, 255, 244, 0.918);
}
