@import url("https://fonts.googleapis.com/css?family=Space+Mono");

* {
  box-sizing: border-box;
}

.container{
width: 100%;
max-height: 100%;
background-color: red;
position: absolute;
}
.calculator {
  margin: auto;
  margin-top: auto;
  position: absolute;
  max-width: 320px;
  background: rgb(255, 255, 255);
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 0;
}

.calculator-numbers {
  font-family: "Space Mono", serif;
  background: black;
  color: white;
  font-size: 2em;
  border: 0;
  padding: 0.3em;
  text-align: right;
  width: 100%;
  height: 100px;
}

.span-2 {
  grid-column: span 2;
}

.span-3 {
  grid-column: span 3;
}
.btn {
  font-size: 1em;
  height: 65px;
  border: 1px solid black;
}
.btn:hover {
  background: #fff;
}
.orange {
  background-color: orange;
}
