.container1st {
  width: 100%;
  height: wrap;
  background-color: rgb(255, 255, 255);
  position: relative;
  margin-bottom: 0;
  padding: 0;
}

.actionform {
  flex-direction: row;
  padding: auto; /* this is meant for the children element for spacing between items*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.form { 
  position: relative;
  margin-right: 10px;
  right: 0%;
  left: 0%;
}

.btn-container {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  padding: 5px; /* this is meant for the children element for spacing between items*/
}@keyframes linearGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-btn {
  
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: linearGradient 1s ease infinite;
  margin: 2px; /* this is meant for the children element for spacing between items*/
  width: 100px;
}


:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --shadowColor: rgb(255, 255, 255);
}

#container {
  height: 500px;
  width: 500px;
  display: grid;
  border :2px solid black;
  
  /* width: fit-content;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  padding-top: 0rem;
  display: grid;
  grid-gap: 0px;
  grid-template-rows: repeat(var(--grid-rows), 60px);
  grid-template-columns: repeat(var(--grid-cols), 60px);
  justify-content: center;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative; */
}

.grid-item {
  margin-top: 0px;
  border: 0.1px solid rgb(208, 208, 208);
  padding: 1rem;
  text-align: center;
  transition: 1s;
  background-color: rgb(237, 237, 237);
  position: relative;
}

.grid-item:hover {
  border: 1px solid rgb(130, 218, 247);
  transition: 0s;
  background-color: rgb(132, 218, 255);
}
